p.credit
  | Background pattern 
  a(href='http://subtlepatterns.com/symphony/') Symphony
  |  from 
  a(href='http://subtlepatterns.com/') subtlepatterns.com
  |  used under 
  a(href='http://creativecommons.org/licenses/by-sa/3.0/') CC BY-SA 3.0