.people {
  background: url('#{$image-base}/symphony.png');
  padding: 44px 10px 40px;
  border: solid $brand-primary;
  border-width: 24px 0;
  position: relative;

  h2 {
    font-family: $font-family-serif;
    font-style: italic;
    font-size: 36px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(#000, .2);

    max-width: 540px;
    margin: 0 auto 48px;
  }

  .credit {
    font-size: 12px;
    padding: 6px;
    margin: 0;

    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;

    text-align: right;
    opacity: .6;
    transition: opacity .3s;

    &:hover {
      opacity: 1;
    }
  }
}

ul.faces {
  @include list-unstyled;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  &.directors li {
    width: 160px;
  }

  &.plebs li {
    width: 100px;
  }
  
  @media (max-width: 560px) {
    &.directors li {
      width: 120px;
    }
    
    &.plebs li {
      width: 75px;
    }
  }

  li {
    opacity: .8;
    transition: opacity .3s;
    text-align: center;
    margin: 6px 10px;


    img {
      display: block;
      width: 100%;
      margin-bottom: 8px;
      border: 2px solid;
      border-radius: 50%;
      transition: filter .3s;

      -webkit-filter: grayscale(100%);
      filter: grayscale(100%);
    }

    p {
      margin: 0 0 5px 0;
      line-height: 1.2;
      transition: color .3s;

      &.name {
        font-weight: bold;
      }

      &.job {
        color: #999;
        font-size: 13px;
      }
    }

    &:hover {
      opacity: 1;

      img {
        -webkit-filter: grayscale(0);
        filter: grayscale(0);
      }

      p {
        &.name {
          color: $brand-primary;
        }

        &.job {
          color: #444;
        }
      }
    }
  }
}